.border-sistance{

    margin-bottom: 1px!important;

}
.maximum-margin{

    padding-left: 0px!important;
    padding-right: 0px!important;

}

.page-active {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}
.paging-li{
    text-align: center;
    width: 35px;
    height: 35px;
}